@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --main: #ffa500;
    --bg: #0b1218;
    --bg-body: #131d28;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input, button {
    outline: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .sidebar .brand h2 {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-img {
    height: 50px;
    width: 50px;
}

#menu-toggle:checked ~ .sidebar .user {
    display: none;
}

#menu-toggle:checked ~ .sidebar li a span:last-child {
    display: none;
}

#menu-toggle:checked ~ .sidebar {
    width: 65px;
}

#menu-toggle:checked ~ .main-content header{
    left: calc(65px + 1rem);
}

#menu-toggle:checked ~ .main-content{
    margin-left: 65px;
}

.sidebar {
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--bg);
    width: 280px;
    overflow-y: auto;
    transition: width 300ms;
}

.brand {
    padding: .5rem 1rem;
    display: flex;
    color: var(--main);
    align-items: center;
    height: 70px;
}

.brand span {
    font-size: 2rem;
    margin-right: .5rem;
}

.side-user {
    margin: 1.8rem 0rem;
}

.side-img {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border: 4px solid #3e454d;
    border-radius: 50%;
}

.user {
    text-align: center;
    color: #fff;
    margin-top: .5rem;
}

.user small {
    display: inline-block;
    color: var(--main);
}

.sidemenu {
    padding: .5rem;
}

.sidemenu li {
    margin-bottom: .9rem;
}

.sidemenu a {
    color: #fff;
    font-size: .85rem;
    display: flex;
    align-items: center;
}

.sidemenu a span:first-child {
    font-size: 1.3rem;
    padding: 0rem .6rem;
}

.sidemenu a.active {
    background: var(--main);
    color: #fff;
    border-radius: 4px;
    height: 45px;
}

.main-content{
    margin-left: 280px;
    min-height: 100vh;
    background: var(--bg-body);
    padding: .5rem 1rem;
    transition: margin-left 300ms;
}

.menu-toggler:hover{
    cursor: pointer;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    padding: 0rem 1rem;
    position: fixed;
    left: calc(280px + 1rem);
    right: 1rem;
    top: .5rem;
    border-radius: 3px;
    transition: left 300ms;
}

.menu-toggler{
    height: 45px;
    width: 45px;
    background: var(--main);
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

#btnSearch{
    border:none;
    height:20px;
    width:30px;
    background: transparent;
  }

#btnSearch:hover{
    cursor:pointer;
}

#btnSearch span:hover{
    transform: scale(1.1);
}

.search {
    display: flex;
    width: 300px;
    border-radius: 30px;
    overflow-x: hidden;
    border: 3px solid #3e454d;
    align-items: center;
}

.search span{
    font-size: 1.3rem;
    color: #fff;
    padding-left: 1rem;
}

.search input {
    flex: 1;
    height: 42px;
    border: none;
    background: transparent;
    padding: 1rem;
    color: #fff;
}

main {
    margin-top: calc(70px + .5rem);
    padding: 1rem 0rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

div.table-title {
    display: block;
    margin: auto;
    padding: 5px;
    width: 100%;
    text-align: center;
}
  
.table-title h3 {
     color: #fafafa;
     font-size: 30px;
     font-weight: 400;
     font-style: normal;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     text-transform:uppercase;
}
  
  
  /*** Table categorie Styles **/
  
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
   
th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
  
th:first-child {
    border-top-left-radius:3px;
}
   
th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}
    
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
   
tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}
   
tr:first-child {
    border-top:none;
}
  
tr:last-child {
    border-bottom:none;
}
   
tr:nth-child(odd) td {
    background:#EBEBEB;
}
   
tr:nth-child(odd):hover td {
    background:#4E5066;
}
  
tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}
   
tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}


#imgArt img{
    max-width: 200px;
}

#desc{
    max-width: 10em;
}
   
div.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.danger{
    color: #f42a26;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}
  
  
th.text-center {
    text-align: center;
}
  
td.text-center {
    text-align: center;
}

.la-edit{
    font-size: 2.5rem;
    color: #27ae60;
}

.la-trash-alt{
    font-size: 2.5rem;
    color: #c0392b;
}

.la-edit:hover, .la-trash-alt:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#formCat {
    color: #ffa500;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

input[class=categorie] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
}
  
input[type=submit] {
    width: 100%;
    background-color: #ffa500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #ffa500;
}
  
div.container {
    border-radius: 5px;
    background-color: var(--bg);
    padding: 20px;
}

.card {
    background: var(--bg);
    padding: 2rem 1rem;
    border-radius: 3px;
}

.card-icon {
    text-align: center;
    display: grid;
    place-items: center;
}

.card-icon span {
    height: 55px;
    width: 55px;
    color: #fff;
    font-size: 2rem;
    border-radius: 6px;
    display: grid;
    place-items: center;
}

.follow span{
    color: #0072f2;
    background: #e5f3fe;
}

.likes span{
    color: #f42a26;
    background: #fde9ea;
}

.comment span{
    color: #ffbc01;
    background: #fff8e5;
}

.card-info {
    text-align: center;
    margin-top: .6rem;
}

.card-info h2 {
    font-size: 3rem;
    color: #efefef;
}

.card-info small {
    display: inline-block;
    color: var(--main);
    font-weight: 500;
}

.card-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}

.card-images div {
    height: 45px;
    width: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #efefef;
    position: relative;
    margin-left: -15px;
}

.card-images div:first-child{
    margin-left: 0;
}

.chart-grid {
    display: grid;
    grid-template-columns: 64% auto;
    margin-top: 3rem;
    grid-gap: 2.5rem;
}

.chart-follow, .chart-sales {
    background: var(--bg);
    padding: 1rem;
    border-radius: 3px;
}

.chart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #efefef;
    padding-bottom: 1rem;
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
}

.close-mobile-menu {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: calc(100% - 280px);
    background: transparent;
    z-index: 100;
    transition: right 300ms;
}

@media only screen and (max-width: 1124px){

    #menu-toggle ~ .sidebar .brand h2 {
        display: none;
    }
    
    #menu-toggle ~ .sidebar .side-img {
        height: 50px;
        width: 50px;
    }
    
    #menu-toggle ~ .sidebar .user {
        display: none;
    }
    
    #menu-toggle ~ .sidebar li a span:last-child {
        display: none;
    }
    
    #menu-toggle ~ .sidebar {
        width: 65px;
    }
    
    #menu-toggle ~ .main-content header{
        left: calc(65px + 1rem);
    }
    
    #menu-toggle ~ .main-content{
        margin-left: 65px;
    }

    #menu-toggle:checked ~ .sidebar .brand h2 {
        display: block;
    }
    
    #menu-toggle:checked ~ .sidebar .side-img {
        height: 120px;
        width: 120px;
    }
    
    #menu-toggle:checked ~ .sidebar .user {
        display: block;
    }
    
    #menu-toggle:checked ~ .sidebar li a span:last-child {
        display: inline-block;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 280px;
        z-index: 100;
    }

    #menu-toggle:checked ~ .close-mobile-menu {
        right: 0;
    }
}

@media only screen and (max-width: 845px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .chart-grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px){
    .search {
        display: none;
    }
}

@media only screen and (max-width: 630px){
    .cards {
        grid-template-columns: 100%;
    }
}